@import "variables";

.App header {
  padding: 15px;
  background-color: $beige;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 15px;
  position: sticky;
  top: 0px;
  z-index: 10;
  h1 {
    font-size: 3rem;
    color: rgb(92, 88, 88);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    &::before{
      content: "Héctor González's ";
      opacity: 0;
      letter-spacing: -2rem;
    }

    &:hover{
      &::before{
        animation: showName 0.5s linear;
        opacity: 1;
      letter-spacing: 0rem;
      }
    }
    &::before{
      animation: hideName 4s ease-in;
      }
    &:active{
      color: rgb(154, 150, 150);
    }
  }
  .buttons {
    display: flex;
    gap: 15px;
    justify-self: end;
  }
}

.user_display {
  display: flex;
  align-items: center;
  gap: 5px;
  img {
    width: 24px;
  }
}


@media (max-width: 550px) {
  header > .buttons {
    flex-direction: column;
  }
}

@keyframes showName {
  0% {
    letter-spacing: -2rem;
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100% {
    letter-spacing: 0rem;
    opacity: 1;
  }
}

@keyframes hideName{
  0% {
    letter-spacing: 0rem;
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    letter-spacing: -2rem;
  }
}
