@import "variables";

.App header {
  padding: 25px;
  background-color: $ash-gray;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 15px;
  h1 {
    font-size: 3rem;
    color: black;
  }
  .buttons {
    display: flex;
    gap: 15px;
  }
}

.user_display {
  display: flex;
  align-items: center;
  gap: 5px;
  img {
    width: 24px;
  }
}
