@import "variables";

body img.loading-logo{
  width: 24px;
  margin: -5px 0px -5px 0px;
}

main {
  background-color: $ivory;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 25px;
  p{
    padding-top: 10px;
    padding-bottom: 5px;
  }
  h1 {
    font-size: 3rem;
  }
}

.previews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  width: max(260px, 80vw);
  padding: 20px;
  gap: 25px;
  justify-items: center;
  align-items: start;
  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.preview {
  width: 260px;
  background-color: var(--old-lace);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 2px 2px 4px 2px gray;
  &:hover {
    background-color: var(--beige);
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  h1 {
    font-size: 2rem;
  }
}

.post {
  width: clamp(250px, 80vw, 1000px);
  padding: 20px;
  img {
    margin: 10px 0px 5px 0px;
    max-width: 80vw;
    height: auto;
    justify-self: center;
  }
  & > h1 {
    font-size: 4rem;
    justify-self: center;
  }
  h2 {
    margin-top: 35px;
    padding-top: 5px;
    border-top: 1px solid black;
    font-size: 1.5rem;
  }
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  & > * {
    grid-column: 1 / -1;
  }
  .poster {
    grid-column: 1 / 2;
    font-size: 1.5rem;
  }
  .content{
    margin: 40px 0px 20px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.8rem;
  }
  .date {
    grid-column: 2 / -1;
    font-size: 1.5rem;
  }
}

.comment {
  background-color: $beige;
  width: clamp(250px, 100%, 500px);
  padding: 10px;
  border-radius: 16px;
  display: grid;
  justify-self: start;
  justify-items: start;
  align-items: center;
  gap: 10px;
  column-gap: 25px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 3fr 1fr;
  box-shadow: 2px 2px 4px grey;
  h1 {
    font-size: 1.4rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .date {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    font-size: 0.8rem;
  }
  .content {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.05rem;
  }
}

.delete_confirm {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
  p {
    grid-column: 1 / -1;
  }
}

article form {
  max-width: 600px;
}

.user_form{
  max-width: 300px;
}
form {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-end;
  justify-self: start;
  gap: 25px;
  padding: 15px;
  margin-top: 25px;
  h1 {
    font-size: 2rem;
    align-self: center;
  }

  input,
  textarea,
  .tox {
    width: 100%;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 0px 2px 1px $khaki-web;
    &:not(.tox){
      padding: 4px 4px 4px 10px;
    }
    font-size: 1rem;
    &:focus {
      box-shadow: 0px 0px 3px 1px rgba(0, 79, 128, 0.897);
      outline: none;
    }
    &:valid {
      box-shadow: 0px 0px 3px 1px rgba(0, 128, 0, 0.544);
    }
    &:focus:invalid {
      box-shadow: 0px 0px 3px 1px rgba(255, 0, 0, 0.583);
    }
  }
  textarea {
    resize: none;
    padding-top: 8px;
  }
  .input_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 1fr auto;
    align-items: center;
    gap: 15px;
    position: relative;
    align-self: start;
    label {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    input,
    textarea {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    span {
      display: none;
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      max-width: 180px;
      justify-self: end;
    }
    input:not(:focus) + span {
      display: block;
      top: 0px;
      font-size: 0.8rem;
      right: 0px;
    }
  }
}

.error {
  color: red;
}


@media (max-width: 600px){
  .user_form{
    max-width: 200px;
  }
  .App .input_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    gap: 10px;
    position: relative;
    align-self: start;
    justify-items: center;
    label {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
    input,
    textarea {
      grid-column: 1 / 2;
      grid-row: 2 / -1;
    }
    span {
      display: none;
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      max-width: 180px;
      justify-self: end;
    }
    input:not(:focus) + span {
      display: block;
      top: 0px;
      font-size: 0.8rem;
      right: 0px;
    }
  }
}